<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet>
        <servlet-name>Visite</servlet-name>
        <servlet-class>servlet.VisiteServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Visite</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>